<div>
  <h1>@Input</h1>
  <h3>Mensaje del componente padre: {{hijoMessage}} </h3>
  <h1>@Input</h1>
  <h3>Mensaje del componente padre: {{hijoMessageUNO}}  </h3>
  <h1>@Input</h1>
  <h3>Mensaje del componente padre: {{hijoMessageDos}} </h3>
  <h1>@Input</h1>
  <h3>Mensaje del componente padre: {{hijoMessageTRES}} </h3>
  <h1>@Input</h1>
  <h3>Mensaje del componente padre: {{hijoMessageCUATRO}} </h3>
</div>

